<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" language="javascript" src="<?php echo base_url().'/public/index/' ;?>js/jquery-1.4.4.js"></script>
<title>文章审核列表</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}
.STYLE4 {
	font-size: 12px;
	color: #1F4A65;
	font-weight: bold;
}

a:link {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #06482a;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.STYLE7 {font-size: 12}

-->
</style>
<script type="text/javascript">
var  highlightcolor='#eafcd5';
var  clickcolor='#51b2f6';
function  changeto(){
	source=event.srcElement;
	if(source.tagName=="TR"||source.tagName=="TABLE")
	return;
	while(source.tagName!="TD")
	source=source.parentElement;
	source=source.parentElement;
	cs  =  source.children;
	if(cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor=highlightcolor;
		}
}

function  changeback(){
	if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
	return
	if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
	for(i=0;i<cs.length;i++){
		cs[i].style.backgroundColor="";
	}
}

function  clickto(){
	source=event.srcElement;
	if(source.tagName=="TR"||source.tagName=="TABLE")
		return;
		while(source.tagName!="TD")
		source=source.parentElement;
		source=source.parentElement;
		cs  =  source.children;
		if(cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor=clickcolor;
		}
	else
		for(i=0;i<cs.length;i++){
			cs[i].style.backgroundColor="";
		}
}
</script>
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="30"><img src="<?php echo base_url().'/public/admin/' ;?>images/tab_03.gif" width="15" height="30" /></td>
        <td width="1101" background="<?php echo base_url().'/public/admin/' ;?>images/tab_05.gif"><img src="<?php echo base_url().'/public/admin/' ;?>images/311.gif" width="16" height="16" /> <span class="STYLE4">文章列表</span></td>
        <td width="281" background="<?php echo base_url().'/public/admin/' ;?>images/tab_05.gif"><table border="0" align="right" cellpadding="0" cellspacing="0">
            <tr>
              <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                        <input type="checkbox" name="checkbox62" value="checkbox" id="selall"/>
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
              </table></td>
              <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="<?php echo base_url().'/public/admin/' ;?>images/001.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">新增</div></td>
                  </tr>
              </table></td>
              <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="<?php echo base_url().'/public/admin/' ;?>images/114.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">修改</div></td>
                  </tr>
              </table></td>
              <td width="52"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="<?php echo base_url().'/public/admin/' ;?>images/083.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr>
              </table></td>
            </tr>
        </table></td>
        <td width="14"><img src="<?php echo base_url().'/public/admin/' ;?>images/tab_07.gif" width="14" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" background="<?php echo base_url().'/public/admin/' ;?>images/tab_12.gif">&nbsp;</td>
        <td bgcolor="#f3ffe3"><table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98" onmouseover="changeto()"  onmouseout="changeback()">
          <tr>
            <td width="6%" height="26" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">选择</div></td>
            <td width="8%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">序号</div></td>
            <td width="25%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">文章标题</div></td>
            <td width="10%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">作者</div></td>
            <td width="10%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">文章状态</div></td>
            <td width="10%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2 STYLE1">文章审核</div></td>
            <td width="7%" height="18" background="<?php echo base_url().'/public/admin/' ;?>images/tab_14.gif" class="STYLE1"><div align="center" class="STYLE2">确认修改</div></td>
          </tr>  
          <?php foreach($article as $v) :?>
          <form action="<?php echo site_url().'/admin/article/update_auditing/'.$v['id'];?>" method="post">
          <tr>
          <input type="hidden" name="id" value="<?php echo $v['id'];?>">
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE1">
              <input name="checkbox" class="selall" type="checkbox" class="STYLE2" value="checkbox" />
            </div></td>
            <td height="18" bgcolor="#FFFFFF" class="STYLE2"><div align="center" class="STYLE2 STYLE1"><?php echo $v['id'];?></div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1"><?php echo $v['title'];?></div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1"><?php echo $v['author'];?></div></td>
            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            默认<input type="radio" name="status" value="1" <?php echo $v['status']=='默认'?'checked="checked"' : '';?>/>
            最新<input type="radio" name="status" value="2" <?php echo $v['status']=='最新'?'checked="checked"' : '';?>/>
            最热<input type="radio" name="status" value="3" <?php echo $v['status']=='最热'?'checked="checked"' : '';?>/>

            <td height="18" bgcolor="#FFFFFF"><div align="center" class="STYLE2 STYLE1">
            通过<input type="radio" name="auditing" value="1" <?php echo $v['auditing']=='T' ? 'checked="checked"' : '';?>/>
            不通过<input type="radio" name="auditing" value="2" <?php echo $v['auditing']=='F'?'checked="checked"' : '';?>/>
            <td height="18" bgcolor="#FFFFFF"><div align="center"><img src="<?php echo base_url().'/public/admin/' ;?>images/037.gif" width="9" height="9" /><input type="submit" value="确认修改"></div></td>
          </tr>
        </form>
        <?php endForeach ;?>
        </table></td>
        <td width="9" background="<?php echo base_url().'/public/admin/' ;?>images/tab_16.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="29"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="29"><img src="<?php echo base_url().'/public/admin/' ;?>images/tab_20.gif" width="15" height="29" /></td>
        <td background="<?php echo base_url().'/public/admin/' ;?>images/tab_21.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="25%" height="29" nowrap="nowrap"><span class="STYLE1">共1条纪录，当前第1/1页，每页10条纪录</span></td>
            <td width="75%" valign="top" class="STYLE1"><div align="right">
              <table width="352" height="20" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="62" height="22" valign="middle"><div align="right"><?php echo $pageinfo;?></div></td>
                </tr>
              </table>
            </div></td>
          </tr>
        </table></td>
        <td width="14"><img src="<?php echo base_url().'/public/admin/' ;?>images/tab_22.gif" width="14" height="29" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<script>
$("#selall").click(function(){
  // 获取点击的选中状态
  var _s = $(this).attr("checked");
  if(_s)
  {
    $(".selall").attr("checked", "checked");
  }
  else
  {
    $(".selall").removeAttr("checked");
  }
});
</script>
</body>
</html>