<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>冰霜时节文章管理系统</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {
	color: #43860c;
	font-size: 10px;
}
-->
</style>
	<script type="text/javascript">
     function bodyLoad(){
         var dateTime=new Date();
         var hh=dateTime.getHours();//小时
         var mm=dateTime.getMinutes();//分钟
         var ss=dateTime.getSeconds();//秒钟

         var yy=dateTime.getFullYear();//年份
         var MM=dateTime.getMonth()+1;  //月份-因为1月这个方法返回为0，所以加1
         var dd=dateTime.getDate();//日数

         var week=dateTime.getDay();//周(0~6,0表示星期日)
              var days=[ "日 ", "一 ", "二 ", "三 ", "四 ", "五 ", "六 ",]

             document.getElementById("date").innerHTML=yy+"年"+MM+"月"+dd+"日 "+"星期"+days[week] ;
           document.getElementById("time").innerHTML=hh+"时"+mm+"分"+ss+"秒";
            setTimeout(bodyLoad,1000);
   }
   </script>
</head>
<body onload="bodyLoad()">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
  <tr>
    <td height="9" style="line-height:9px; background-image:url(<?php echo base_url();?>/public/admin/images/main_04.gif)"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="97" height="9" background="<?php echo base_url();?>/public/admin/images/main_01.gif">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="47" background="<?php echo base_url();?>/public/admin/images/main_09.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="38" height="47" background="<?php echo base_url();?>/public/admin/images/main_06.gif">&nbsp;</td>
        <td width="59"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="29" background="<?php echo base_url();?>/public/admin/images/main_07.gif">&nbsp;</td>
          </tr>
          <tr>
            <td height="18" background="<?php echo base_url().'/public/admin/' ;?>images/main_14.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
              <tr>
                <td  style="width:1px;">&nbsp;</td>
                <?php $admin = $this->session->userdata('admin_name');?>
                <td ><span class="STYLE1"><?php echo $admin['admin_name'];?></span></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="155" background="<?php echo base_url().'/public/admin/' ;?>images/main_08.gif">&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="23" valign="bottom">
			<img src="<?php echo base_url().'/public/admin/' ;?>images/main_12_index.gif" />
			<img src="<?php echo base_url().'/public/admin/' ;?>images/main_12_info.gif"  />
			<a href="<?php echo site_url('admin/privilege/login_out');?>" onclick="return confirm('你确定退出吗？')" target="_top"><img src="<?php echo base_url().'/public/admin/' ;?>images/main_12_loginout.gif" /></a>
			</td>
          </tr>
        </table></td>
        <td width="200" background="<?php echo base_url().'/public/admin/' ;?>images/main_11.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="11%" height="23">&nbsp;</td>
            <td width="89%" valign="bottom"><span class="STYLE1">
			日期：<span id="date" ></span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span  id="time" ></span></span></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="5" style="line-height:5px; background-image:url(<?php echo base_url().'/public/admin/' ;?>images/main_18.gif)"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="180" background="<?php echo base_url().'/public/admin/' ;?>images/main_16.gif"  style="line-height:5px;">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

<map name="Map" id="Map"><area shape="rect" coords="3,1,49,22" href="#" /><area shape="rect" coords="52,2,95,21" href="#" /><area shape="rect" coords="102,2,144,21" href="#" /><area shape="rect" coords="150,1,197,22" href="#" /><area shape="rect" coords="210,2,304,20" href="#" /><area shape="rect" coords="314,1,361,23" href="#" /></map></body>
</html>
