<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>发送邮件</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="" />
	<script type="text/javascript" src="jquery-1.4.4.js"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
</head>
<body>
<form action="<?php echo site_url('index/sendEmail/sendMail');?>" method="post"> 
<input type="text" name="email" value="" /> 
<input  type="submit" value="发送邮件" /></td>
</form>
</body>
</html>
