     <div id="footer">
     	<div class="copyright">
<a href=""><img src="<?php echo base_url().'/public/index/' ;?>images/footer_logo.gif" border="0" alt="" title="" /></a>
        </div>
    	<div class="footer_links"> 
        <a href="<?php echo site_url('index/home/wenya');?>">文雅网</a>
        <a href="<?php echo site_url('index/home/doubleBall');?>">双色球</a>
        <a href="">联系我们</a>
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/17066830.js"></script>
<noscript><a href="http://www.51.la/?17066830" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17066830.asp" style="border:none" align="center"/></a></noscript>
        </div>
	</div>  
</div>
</body>
</html>
