 <?php echo $this->load->view('index/member_left.html');?>
		<!-- 右边文章列表 -->
		<div class="shop_member_bd_right clearfix">
			<div class="shop_meber_bd_good_lists clearfix">
				<div class="title"><h3>已发表文章列表</h3></div>
				<table><thead class="tab_title">
						<th style="width:280px;"><span>文章标题</span></th>
						<th style="width:100px;"><span>所属栏目</span></th>
						<th style="width:100px;"><span>发表日期</span></th>
						<th style="width:100px;"><span>查看</span></th>
						<th style="width:100px;"><span>删除</span></th>
					</thead>
					<tbody>
						<tr><td colspan="5">
						<?php foreach($article as $v):?>
							<table class="good">
								<thead >
									<tr><th colspan="6">
										<span><strong>文章编号：<?php echo $v['id'];?></strong></span>
									</th></tr>
								</thead>
								<tbody>
									<tr>
										<td class="dingdan_pic"><img src="<?php echo base_url().'public/uploads/'.$v['pic'];?>" /></td>
										<td class="dingdan_title"><span><a href="<?php echo site_url('index/member/show_article/'.$v['id']);?>"><?php echo $v['title'];?></a></span></td>
										<td class="dingdan_danjia"><strong><?php echo $v['cate'];?></strong></td>
										<td class="dingdan_shuliang"><?php echo $v['addtime'];?></td>
										<td class="dingdan_zongjia"><strong><a href="<?php echo site_url('index/member/show_article/'.$v['id']);?>">查看</a></strong></td>
										<td class="dingdan_zongjia"><strong><a href="<?php echo site_url('index/member/del_article/'.$v['id']);?>" onclick="return confirm('你确定将此文章删除?')" >删除</a></strong></td>
									</tr>
								</tbody>
							</table>
							<?php endForeach ;?>
						</td></tr>
								</tbody>
							</table>
						</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><br /><br /><br />
				<div align="right">
				    <?php echo $pageinfo;?>
				</div>
	<br />
 <?php echo $this->load->view('index/footer.html');?>